
.container{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .TableContainer{
        padding: 30px;
        color: white;
        background-color:  #385170;
        border-radius: 20px; 
        width: 700px;
        margin: auto;
       height: auto;
       margin-bottom: 100px;
    }
}

.item-product{
    font-size: 15px;
 }

@media screen and ( max-width: 500px) {
    .TableContainer{
        margin: auto;
        width: 365px;
        border: solid 2px red;
    }
    .item-product{
        font-size: 10px;
    }
    .button-chackra{
        width: 40px;
    }
    .span{
         
        font-size: 13px;
    }
}